/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github-dark.css';

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  background-color: rgba(68,70,84,1);
  font-family: "San Francisco", sans-serif;
  font-size: 16px;
  color: rgb(209, 213, 219);
  line-height: 28px;

  code {
    font-size: 14px;
    line-height: 21px;
  }
}
