/* You can add global styles to this file, and also import other style files */
@import "~highlight.js/styles/github-dark.css";
@tailwind utilities;

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  background-color: rgba(52, 53, 65, 1);
  font-family: "San Francisco", sans-serif !important;
  font-size: 16px;
  color: rgb(209, 213, 219);
  line-height: 28px;

  code {
    font-size: 14px;
    line-height: 21px;
  }

  textarea {
    font-family: "San Francisco", sans-serif !important;
  }
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(86, 88, 105, 1) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, 1);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.loading-dots {
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}
